@charset "UTF-8";
.footer-btn {
  padding: 11px 50px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background-color: #9f0013;
  border: none;
  margin-left: auto;
  -webkit-clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
          clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
  cursor: pointer;
}

.footer-btn:disabled {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%); /* Позволяет затемнить кнопку, чтобы показать юзеру, что она нажата */
}

.footer-bck-img {
  position: absolute;
  right: -174px;
  bottom: -70px;
  z-index: -1;
}

.randomchar-block-right-btn-homepage,
.randomchar-block-right-btn-homepage:link {
  padding: 11px 18px;
  font-weight: 400;
  font-size: 14px;
  background: #9f0013;
  color: #fff;
  border: none;
  margin-right: 30px;
  -webkit-clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
          clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
  cursor: pointer;
}

.randomchar-block-right-btn-homepage-a {
  color: white;
}

.randomchar-block-right-btn-homepage-second {
  padding: 11px 37px;
  font-weight: 400;
  font-size: 14px;
  background: #9f0013;
  color: #fff;
  border: none;
  background: #5c5c5c;
  -webkit-clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
          clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
  cursor: pointer;
}

.descr {
  padding: 25px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  min-height: 300px;
  min-width: 300px;
  margin-bottom: 30px;
}
.descr .info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.descr .hero-avatar {
  margin-right: 25px;
  margin-bottom: 15px;
  height: 150px;
  width: 150px;
}
.descr .section {
  text-align: left;
}
.descr .section .hero-name {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-bottom: 38px;
}
.descr .hero-desct-text {
  width: 375px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}
.descr .comics {
  cursor: pointer;
}
.descr .comics-title {
  text-align: left;
  margin-bottom: 10px;
}
.descr .comics-item {
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 375px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  margin-bottom: 10px;
}
.descr .comics-item:last-child {
  margin-bottom: 30px;
}