html, body {
  margin: 0;
  padding: 0;
}
*{
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
a {
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.app{
  width: 1100px;
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}
.header{
  display: flex;
  margin-bottom: 50px;
}
.header-marvel{
  color: #000;
  font-weight: 700;
  font-size: 28px;
  cursor: pointer;
}
.header-ul{
  display: flex;
  margin-left: auto;
  font-weight: 700;
  font-size: 24px;
}


.randomchar{
  display: flex;
  padding-left: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  margin-bottom: 50px;
  width: 1135px;
  height: 250px;
}
.randomchar-block{
  display: flex;
  margin-bottom: 35px;
  margin-top: 35px;
  width: 550px;
}
.randomchar-block-thor{
  margin-right: 30px;
  height: 180px;
  width: 180px; 
}
.randomchar-block-right{
  text-align: left;
  margin-right: 35px;
}
.randomchar-block-right-thor{
  margin-bottom: 13px;
}
.randomchar-block-right-text{
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-bottom: 13px;
  max-width: 265px;
}
.randomchar-block-right-btn-homepage{
  padding: 11px 18px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;    
  background: #9f0013;
  border: none;
  margin-right: 30px;
  clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
  cursor: pointer;
}
.randomchar-block-right-btn-homepage-a{
  color: #fff;  
}
.randomchar-block-right-btn-homepage-second{
  padding: 11px 37px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;    
  background: #9f0013;
  border: none;
  background: #5c5c5c;
  clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
  cursor: pointer;
}
.characters{
cursor: pointer;
} 
.button-active{
  color: #9f0013 !important;
}
.comics{
  cursor: pointer;
}
.randomchar-static{
  background: #232222;
  width: 550px;
  position: relative;
}
.randomchar-static-section{
  padding-top: 35px;
  padding-left: 40px; 
  text-align: left;
}
.randomchar-static-text{
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  width: 373px;
  text-align: left;
  margin-bottom: 41px;
}
.randomchar-static-btn{
  cursor: pointer;
  padding: 11px 18px;
  background: #9f0013;
   border: none;
   clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}

.randomchar-static-btn-text{
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
 
}
.randomchar-static-molot{
  position: absolute;
  top: 50px;
  right: -20px;
}

.list-and-descr{
  display: flex;
  align-items: flex-start; /* Выравнивание по высоте контента */
  
}
.list-ul{
  width: 680px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.list-item{
  background-color: #232222;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
  height: 318px;    /*  ТУТ */
  width: 200px;
  margin-right: 25px;
  margin-bottom: 30px; 
}
.list-item-img{
  margin-bottom: 15px;
  height: 200px;
  width: 200px;
}
.list-item-text{
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  width: 170px;
  margin: 0 auto;
  text-align: left;
}
.descr{
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  min-height: 300px;
  min-width: 300px;
  margin-bottom: 30px;
}
.hero-avatar{
  margin-right: 25px;
  margin-bottom: 15px;
  height: 150px;
  width: 150px;
}
.hero-name{
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-bottom: 38px;
}
.section{
  text-align: left;
}
.hero-desct-text{
  width: 375px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}
.comics-title{
  text-align: left;
  margin-bottom: 10px;
}
.comics-item{
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 375px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  margin-bottom: 10px;
}
comics-item:last-child{
  margin-bottom: "30px"
}
.footer-bck-img{
  position: absolute;
  right: -174px;
  bottom: -70px;
  z-index: -1;
}
.footer-btn{
  padding: 11px 50px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;    
  background-color: #9F0013;
  border: none;   
  margin-left: auto;
  clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
  cursor: pointer;
}
.footer-btn:disabled{
   filter: grayscale(50%);/* Позволяет затемнить кнопку, чтобы показать юзеру, что она нажата */
}
.char__item_selected{
  box-shadow: 10px 10px 15px rgba(255, 0, 0, 0.5)
}



.comics-every-week{
  display: flex;
  height: 100px;
  width: 1100px;
  background-color: #232222;
  margin: auto;
  padding-left: 45px;
  margin-bottom: 50px;

}
.img-marvel-hero{
  margin-right: 83px;
}
.comics-every-week-text{
  margin-top: 18px;
  color: #FFFFFF;
}
.img-marvel-avengers{
margin-left: auto;
margin-right: 25px;
}
.comics-every-week-left{
  display: flex;
  left: 0;
}
.list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 67px;

}
.list-item2{
  text-align: left;
  max-width: 225px;
  margin-right: 66px;
  cursor: pointer;
  margin-bottom: 55px;
}
.list-item2:nth-child(4n){
  margin-right: 0;
}
.list-item2:nth-last-child(-n+4){
  margin-bottom: 0;
}
.list-item-text2{
  font-weight: 700;
  font-size: 14px;
  color: #000;
  max-width: 225px;
  margin-bottom: 7px;
}
.list-item-price{
  font-weight: 700;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.list-item2-img{
  width: 225px;
  height: 346px ;
}
.comics-descr{
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}
.comics-descr-img{
  height: auto;
  width: 293px;
  margin-right: 50px;
}
.comics-descr-right{
  position: relative;
  display: flex;
  width: 753px;
}
.comics-descr-right-info{
  text-align: left;
}
.comics-descr-right-title{
  max-width: 550px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 22px;
  color: #000;
}
.comics-descr-right-text{
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
  width: 550px;
}
.comics-descr-right-pages{
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 18px;
}
.comics-descr-right-language{
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 18px;
}
.comics-descr-right-price{
  font-weight: 700;
  color: #9f0013;
  font-size: 24px;
}
.button-back{
  position: absolute;
  top: 0;
  right: 0;
  margin-left: auto; 
  font-weight: 700;
  font-size: 18px;
}
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.search-form{
  display: flex;
}
.search-form-right{
  margin-right: 25px;
  text-align: left  ;
}
.search-form-title{
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-bottom: 18px;
}
.search-form-input{
  width: 250px;
  height: 38px;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  margin-bottom: 25px;
}
.button-find{
  padding: 11px 18px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;    
  background: #9f0013;
  border: none;
  clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
  cursor: pointer;
  height: 38px;
  width: 101px;
  margin-top: 40px;
}
.errorValidate{
  font-weight: 700;
  font-size: 18px;
  color: #9f0013;
}
.search{
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  width: 425px;
  text-align: left;
}
.valid-success{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.valid-success-block{
  font-weight: 700;
  font-size: 18px;
  color: #03710e;
}
.valid-failed-block{
  font-weight: 700;
  font-size: 18px;
  color: #9f0013;
  margin-top: 10px;
}
.success-block-button{
  width: 101px;
  padding: 11px 0;
  font-weight: 400;
  font-size: 14px;
  color: #fff;    
  background: #9f0013;
  border: none;
  background: #5c5c5c;
  clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
  cursor: pointer;
  text-align:  center;
}
